/* Обнуление стилей */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #FAFAFA;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* Начало css кода */

body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #252B42;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px) {
    .header__container {
        min-height: 75px;
    }
}

.header__menu {
    margin-left: 133px;
    padding: 5px 0;
}
@media (max-width: 992px) {
    .header__menu {
        margin-left: 80px;
    }
}
@media (max-width: 767px) {
    .header__menu {
        margin-left: 50px;
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin-left: 20px;
    }
}

.header__logo {
    font-weight: 700;
    color: inherit;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__list li {
    margin-right: 21px;
}

.menu__list li:last-child {
    margin-right: 0;
}

.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    letter-spacing: 0.2px;
    
}
@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}

.page{
    flex: 1 1 auto;
}

.main-block {
    position: relative;
}

.main-block__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
}
@media(max-width: 992px){
    .main-block__body {
        padding: 120px 0 191px 0;
    }
}

.main-block__body > *:not(:last-child){
    margin-bottom: 35px;
}

.main-block__title { 
    font-weight: 800;
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    letter-spacing: 0.2px;
}
@media(max-width: 479px){
    .main-block__title{
        font-size: 42px;
    }
}

.main-block__text {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #737373;
}
@media(max-width: 479px){
    .main-block__text {
        color: #464646;
    }
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media(max-width: 1300px){
    .main-block__image img {
        object-position: right;
    }
}
@media(max-width: 992px){
    .main-block__image {
        opacity: 0.4;
    }
}

.main-block__buttons{
    display: flex;
    flex-wrap: wrap;
}

.main-block__buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 700;
    line-height: 200%;
    text-align: center;
    min-height: 48px;
    letter-spacing: 0.2px;
    border-radius: 37px;
    padding: 5px 36px;
    margin: 10px 0;
}

@media(max-width: 479px){
    .main-block__buttons a {
        flex: 1 1 auto;
    }
}

.main-block__buttons a:not(:last-child){
    margin-right: 10px;
}

.buttons__get {
    color: #FFFFFF;
    background-color: #FF7B47;
}

.buttons__learn {
    border: 1px solid #0D5C63;
    color: #0D5C63;
}

.page__services {
    margin-top: -111px;
    position: relative;
    z-index: 3;
}

@media(min-width: 670px) {
    .services__body{
        display: flex;
        margin: 0 -15px -30px 0;
        flex-wrap: wrap;
    }
}

.services__column {
    flex: 0 1 33.33%;
}

@media(min-width: 670px) {
    .services__column {
        padding: 0 15px;
    }
}

@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%
    }
    .services__column:last-child {
        flex: 0 1 100%
    }
    .services__column:not(:last-child) {
        margin-bottom: 30px;
    }
}

.services__item {
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 35px;
}

@media (max-width: 479px) {
    .services__item {
        padding: 25px;
    }
}

.item-service__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
}

.item-service__text {
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}

.item-service > *:not(:last-child){
    margin-bottom: 10px;
}

.item-service_dark {
    background: #0D5C63;
    color: white
}

.item-service_dark p {
    color: white;
}

/*---------------------HEADER-BLOCK---------------------*/
.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}

.header-block__title {
    line-height: 143%;
    font-weight: 700;
    font-size: 40px;
    color: #252B42;
}
@media(max-width: 992px) {
    .header-block__title {
        font-size: 35px;
    }
}
@media(max-width: 767px) {
    .header-block__title {
        font-size: 30px;
    }
}

.header-block__title:not(:last-child) {
    margin-bottom: 10px;
}
 
.header-block__subtitle {
    color: #737373;
    line-height: 143%;
}

/*---------------------ADVANTAGES----------------------*/

.advantages {
    margin: 125px 0 80px 0;
}
@media(max-width: 992px) {
    .advantages {
        margin: 70px 0 50px 0;
    }
}
@media(max-width: 560px) {
    .advantages {
        margin: 40px 0 30px 0;
    }
}

.advantages__header {
    margin-bottom: 50px;
}
@media(max-width: 767px) {
    .advantages__header {
        margin-bottom: 25px;
    }
}

.advantages__body {
    margin: 0 -15px -30px 0;
    display: flex;
    flex-wrap: wrap;
}

.advantages__column {
    padding: 0 15px;
    margin-bottom: 30px;
    flex: 0 1 25%;
}
@media(max-width: 1020px) {
    .advantages__column{
        flex: 0 1 50%;
    }
}
@media(max-width: 560px) {
    .advantages__column{
        flex: 0 1 100%;
    }
}

.advantages__item {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    font-weight: 700;
}

.advantages__value {
    letter-spacing: 0.2px;
    font-size: 40px;
    line-height: 142%;
}

.advantages__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #737373;
}

.advantages__item > *:not(:last-child) {
    margin-bottom: 10px;
}

.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/*---------------------ADVANTAGES----------------------*/

.practice {
    padding: 125px 0 80px 0;
}
@media(max-width: 993px){
    .practice {
        padding: 50px 0 80px 0;
    }
}
@media(max-width: 767px){
    .practice {
        padding: 10px 0 40px 0;
    }
}

.practice__header{
    margin-bottom: 45px;
}

.practice__body{
    display: flex;
    margin: 0 -20px -30px 0;
    flex-wrap: wrap;
}

.practice__column{
    flex: 0 1 25%;
    padding: 0 20px 30px 0;
}
@media(max-width: 1040px){
    .practice__column{
        flex: 0 1 50%;
    }
}
@media(max-width: 630px){
    .practice__column{
        flex: 0 1 100%;
    }
}

.item-practice{
    background-color: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.item-practice__content{
    padding: 30px;
    flex: 1 1 auto;
}

.item-practice__link {
    color: #252B42;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}

.item-practice__link:hover {
    text-decoration: underline;
}

.item-practice__title {
    margin-bottom: 15px;
}

.item-practice__text {
    line-height: 143% ;
    letter-spacing: 0.2px;
    color: #737373;
}

.item-practice__image {
    display: block;
    padding-bottom: 60%;
}

/*---------------------WHO-WE-ARE----------------------*/

.who-we-are {
    padding: 80px 0 130px 0;
    background-color: #fff;
}
@media(max-width: 950px) {
    .who-we-are {
        padding: 50px 0 50px 0;
    }
}
@media(max-width: 767px) {
    .who-we-are {
        padding: 20px 0 50px 0;
    }
    
}

.who-we-are__header {
    padding-bottom: 100px;
}
@media(max-width: 950px) {
    .who-we-are__header {
        padding-bottom: 30px;
    }
}

.who-we-are__body {
    display: flex;
    align-items: start;
}
@media(max-width: 950px) {
    .who-we-are__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .who-we-are__items {
        margin-bottom: 50px;
    }
}

.who-we-are__video {
    flex: 0 0 57%;
    position: relative;
    padding-bottom: 42.25%;
}
@media(max-width: 950px) {
    .who-we-are__video {
        padding-bottom: 56.25%;
    }
}

.who-we-are__video iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.who-we-are__content {
    flex: 1 1 auto;
    padding: 20px 0 0 121px;
}
@media(max-width: 1080px) {
    .who-we-are__content{
        padding: 0 0 0 50px;
    }
}
@media(max-width: 950px) {
    .who-we-are__content{
        padding: 0;
    }
}

.who-we-are__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}
@media(max-width: 950px) {
    .who-we-are__title {
        font-size: 24px;
    }
}

.who-we-are__text {
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 50px;
}
@media(max-width: 767px){
    .who-we-are__text{
        margin-bottom: 25px;
    }
}

.item-we{
    display: flex;
}

.item-we:not(:last-child){
    margin-bottom: 30px;
}
@media(max-width: 767px){
    .item-we:not(:last-child){
        margin-bottom: 10px;
    }
}

.item-we__icon {
    margin-right: 21px;
}

.item-we__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    margin-bottom: 5px;
}

.item-we__text {
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
    white-space: nowrap;
    width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*---------------------CLIENTS----------------------*/

.clients {
    padding: 50px 0;
}
@media(max-width: 767px){
    .clients {
        padding: 30px 0;
    }
}

.clients__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.clients__item{
    padding: 8px 15px;
    flex: 0 1 16.66px;
    text-align: center;
    display: inline-block;
    min-width: 140px;
}

/*---------------------FORM----------------------*/

.page__subscribe {
    padding-bottom: 10px;
}

.subscribe {
    position: relative;
    padding-bottom: 20px;
}

.subscribe::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 77px;
    background: #252B42;
    z-index: -1;
}

.subscribe__body {
    padding: 30px 50px;
    background: #17213C;
    border-radius: 2px;
    color: #fff;
}
@media(min-width: 1070px){
    .subscribe__body{
        margin: 0 30px;
    }
}
@media(min-width: 810px){
    .subscribe__body{
        display: flex;
        align-items: center;
    }
}

.subscribe__title {
    flex: 0 1 50%;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;  
    letter-spacing: 0.1px;
}
@media(max-width: 810px){
    .subscribe__title{
        padding-bottom: 15px;
    }
    .subscribe__body{
        margin: 0 -15px;
        padding: 20px 15px;
    }

}

.subscribe__form{
    flex: 0 1 50%;
    display: flex;
}

.subscribe__input {
    flex: 1 1 auto;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 15px 20px;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
    background: #F9F9F9;
    border-right: 0;
}

.subscribe__input:focus{
    color: #000;
}

.subscribe__button {
    width: 117px;
    font-weight: 400;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
}